
.vs/Drill 22 Generic types/v16/Server/sqlite3/db.lock
.vs/Drill 22 Generic types/v16/Server/sqlite3/storage.ide
.vs/Drill 22 Generic types/v16/Server/sqlite3/storage.ide-shm
.vs/Drill 22 Generic types/v16/Server/sqlite3/storage.ide-wal
