.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    filter: blur(4px);
    border-radius: 10px;

}

footer {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table, td {
    border: 3px solid red;
    padding: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: blue;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main {
    margin-top: 70px;
}

section {
    position: relative;
    z-index: -1;
    padding-top: 60px;
}

.column {
    float: left;
    width: 50%;
    color: blue;
    text-align: center;
    height: 250px;
    width: 50%;
    background-color: grey;
 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p:hover {
    background-color: black;
    color: white;
}

p {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008cba;
}
.text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container2:hover .overlay {
    opacity: 1;
}

.container2 {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}